.attention{
    width:100%;
    height: 100%;
    background: #eee;
    >view{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0 auto;
        >view{
            text-align: center;
        }
        .text{
            margin:100px 0;
            color: gray;
            >view{
                padding:10px 0;
            }
        }
        image{
            width: 200px;
            height: 200px;
        }
        button{
            color: crimson;
            font-size: 35px;
        }
    }
    
}