.newest{
    width:100%;
    height: 100%;
    display: flex;
    #left{
        width:25%;
        .left{
            width:100%;
            height: 100%;
            background:rgb(235,235,235);
            view{
                height: 100px;
                border-bottom:1px solid snow;
                background: rgb(240,240,240);
                font-size: 30px;
                color:gray;
                padding-left:30px;
                line-height: 100px;
            }
            .active{
                height: 100px;
                border-bottom:1px solid snow;
                background: rgb(240, 240, 240);
                font-size: 30px;
                padding-left:30px;
                line-height: 100px;
                border-left:2px solid crimson;
                color: crimson;
            }
        }
    }
    #right{
        flex:1;
        .right{
            width:100%;
            height: 100%;
            overflow: auto;
            .rightItem{
                display: flex;
                border-bottom: 1px solid #ccc;
                padding:15px;
                align-items: center;
                image{
                    width:100px;
                    height: 100px;
                }
                .rightName {
                    height: 100px;
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding:0 15px;
                    font-size: 30px;
                    text{
                        font-size: 25px;
                        color: grey;
                    }
                }
                .GZ{
                    width:100px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    border-radius: 15px;
                    font-size: 24px;
                    border:1px solid #ccc;
                    color: crimson;
                    background:#eee;
                }
            } 
        }
    }   
}